

<%= form_tag '/admin/line_item_discount', :method => :get do %>

  <%= label_tag 'Enber order number or id' %>
  <%= text_field_tag :order_number %>

  <%= submit_tag 'submit' %>

<% end %>

<hr>
<% if !@result.nil? %>

        <% if @result.is_a?(Array) %>
            <br/>
            <h2><%= @result.last[:promotion].keys.first %></h2>
        <% end %>

        <%#= @result.first %>

        <% unless params[:order_number].blank? %>

          <table class="table">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Discount</th>
          </tr>

          <% @buy_one_offer = (@result[0][:type] == :buy_one_get_one)? true : false %>

          <% if @buy_one_offer %>
               <%= render  'buy_one_get_one', :result => @result %>
           <% else %>

                <% @result.is_a?(Array) and @result.first.keys.each do |key| %>
                    <tr>
                      <% line_item = Spree::LineItem.find(key) %>
                      <td><%= key %></td>
                      <td><%= truncate(line_item.product.name, :length => 30) %></td>

                      <% if @result.first[key][:type] == 'Discount' %>
                          <td style="background: greenyellow"><%= @result.first[key][:discount_amount] %></td>
                      <% end %>

                      <% if @result.first[key][:type] == 'Non Discount' %>
                          <td style="background: greenyellow"><%= @result.first[key][:discount_amount] %></td>
                      <% end %>

                      <% if @result.first[key][:type] == 'Non Promotion' %>
                          <td><%= @result.first[key][:non_discount_amount] %></td>
                      <% end %>
                    </tr>

                    <br/>
                <% end %>
          <% end %>


            <tr>
              <td></td> <td></td>
              <td><h4><%= @result.is_a?(Array) and @result.last[:promotion].values.first %></h4></td>
            </tr>
          </table>

        <% end %>
 <% else %>
    <h5><%= 'No discount from this order' unless params[:order_number].blank? %></h5>
<% end %>